section > div {
    width:33.3333%;
    height:33.3333%;
    position: absolute;
}

section > div:nth-child(1) {
    top: 0;
    left: 0;
    background-color: black;
}
section > div:nth-child(2) {
    top: 0;
    left: 33.3333%;
    background-color: grey;
}
section > div:nth-child(3) {
    top: 0;
    right: 0;
    background-color: black;
}
section > div:nth-child(4) {
    top: 33.3333%;
    left: 0;
    background-color: grey;
}
section > div:nth-child(5) {
    top: 33.3333%;
    left: 33.3333%;
    background-color: black;
}
section > div:nth-child(6) {
    top: 33.3333%;
    right: 0;
    background-color: grey;
}
section > div:nth-child(7) {
    bottom: 0;
    left: 0;
    background-color: black;
}
section > div:nth-child(8) {
    bottom: 0;
    left: 33.3333%;
    background-color: grey;
}
section > div:nth-child(9) {
    bottom: 0;
    right: 0;
    background-color: black;
}