/* 노말라이즈 */
a {
    color:inherit;
    text-decoration: none;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-box-1 {
    text-align:center;
  }
  
  .menu-box-1 > ul {
    background-color: yellowgreen;
    display: inline-block;
    border-radius: 15px;
    padding: 0 15px;
  }
  
  .menu-box-1 > ul > li {
    display: inline-block;
  }
  
  .menu-box-1 > ul > li > a {
    color: white;
    padding: 20px;
    display: block;
  }
  
  .menu-box-1 > ul > li:hover > a {
    color: gold;
    background-color: grey;
  }